@*Task Page for users to enter more more tasks to the database*@

@{
    ViewData["Title"] = "Add Tasks";
}

@model TaskForm
<!-- This is Carter! I just added the line above this and the 'asp-for' for the first label of Task
    Just wanted to see if I set up models right and if it connects

    Also, for displaying the categories, feel free to use this code from mission 07 
    it lets us display the category name from the models but we store the category id in the database -->

    @*<label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Mission8_Group14.Models.Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />*@


<h1>Add a Task</h1>
<br />

@*Form that gathers input to then go to database*@
<form method="post">

    <label asp-for="Task">Task:</label>
    <input id="" type="text" asp-for="Task" />
    <br />

    <label @*asp-for=""*@>Due Date:</label>
    <input @*id=""*@ type="date" @*asp-for=""*@ />
    <br />

    <label @*asp-for=""*@>Quadrant:</label>
    <select @*asp-for=""*@>
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br />

    <label @*asp-for=""*@>Category:</label>
    <select @*asp-for=""*@>
        <option value=""></option>
        <option value="Home">Home</option>
        <option value="School">School</option>
        <option value="Work">Work</option>
        <option value="Church">Church</option>
    </select>
    <br />

    <label @*asp-for=""*@>Completed:</label>
    <select @*asp-for=""*@>
        <option value="False">False</option>
        <option value="True">True</option>
    </select>
    <br />

    <input @*id=""*@ type="submit" value="Submit Task" />

    <!--Helps display errors to user-->
<div asp-validation-summary="All"></div>

</form>