@*Task Page for users to enter more more tasks to the database*@

@{
    ViewData["Title"] = "Add Tasks";
}

@model TaskForm

<h1>Add a Task</h1>
<br />

@*Form that gathers input to then go to database*@
<form method="post">

    <label asp-for="Task">Task:</label>
    <input id="Task" type="text" asp-for="Task" />
    <br />

    <label asp-for="DueDate">Due Date:</label>
    <input id="DueDate" type="date" asp-for="DueDate" />
    <br />

    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br />

    @*<label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Mission8_Group14.Models.Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    <br />*@

    <label asp-for="Completed">Completed:</label>
    <select asp-for="Completed">
        <option value="False">False</option>
        <option value="True">True</option>
    </select>
    <br />

    <input id="submitTask" type="submit" value="Submit Task" />

    <!--Helps display errors to user-->
    <div asp-validation-summary="All"></div>

</form>