@{
    ViewData["Title"] = "Home Page";
}

<br /><br />
<div style="text-align:center">
    <h3>Welcome to Stephen Covey's Time Management Matrix</h3>
    <br />
    <img src="~/img/timemanagementmatrix.png" width="800" />
</div>
